@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>KUSYS-Demo Web App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Blend  Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/node_modules/bootstrap/blend/css/style.css" rel="stylesheet" />

    <link href="~/node_modules/bootstrap/blend/css/font-awesome.css" rel="stylesheet" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Vollkorn+SC:400,600,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
    <!-- main -->
    <div class="main">
        <h1>KUSYS-DEMO WEB APPLICATION</h1>
        <div class="main-w3lsrow">
            <!-- login form -->
            <div class="login-form login-form-left">
                <div class="agile-row">
                    <h2></h2>
                    <div class="login-agileits-top">
                        <form asp-action = "Login" asp-controller="Login" method="post">
                            <p>Kullanıcı Adınız </p>
                            <input type="text" class="name" name="UserName" required="" />
                            <p>Şifreniz</p>
                            <input type="password" class="password" name="Password" required="" />
                            <br />
                            <input type="submit" value="Giriş Yap">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <div class="copyright">
            <p> © 2022 KUSYS-Demo | Tüm Hakları Saklıdır.</p>
        </div>
        <!-- //copyright -->
    </div>
    <!-- //main -->
</body>
</html>
                 
        
